<form class="form-inline text-center">
  <input type="text" name="cpf" class="form-control text-right" placeholder="Junho" [(ngModel)]="junho" required >
  <input type="text" name="valor" class="form-control text-right" placeholder="Julho" [(ngModel)]="julho" required>
  <input type="text" name="valor" class="form-control text-right" placeholder="Agosto" [(ngModel)]="agosto" required>
  <input type="text" name="valor" class="form-control text-right" placeholder="Setembro" [(ngModel)]="setembro" required> <br>
  <input type="submit" value="Enviar" class="btn btn-success mt-03" (click)="pegarDados()">
</form>
<div id="pie_chart"></div>
<div id="3d_pie_chart"></div>
<div id="donut_chart"></div>
<div id="bar_chart"></div>
<div id="line_chart"></div>
<div id="column_chart"></div>

<!-- form #conversaoForm="ngForm" class="form-inline">
  <input type="text" name="valor" class="form-control text-right" placeholder="0" required [(ngModel)]="conversao.valor"> -->